body {
  background: #E1C2A6;
  height: 100vh;
  width: 100%;
}
header {
	opacity:1;
  z-index:99;
}
.button {
	background-color: white;
    color: black;
    border: 3px solid #8B572A; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; 
	 border-radius:4px;
}
#center {
  width: 50%;
  height: 50%;
  position: relative;
  top: 22%;
  margin: auto;
  text-align: center;
}
#img_logo {
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
#logout {
	color:#6A0000;
	font-weight: bold;
}
#messages {
	border:1px #ffffff;
}
#send_message {
	border:1px #ffffff;
}
